@import 'tailwindcss-colors.css';

:root {
  --black: var(--stone-900);
  --white: var(--stone-200);
  --red: red;
  --green: green;
  --blue: blue;
  --yellow: yellow;
  --orange: orange;
}

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
  /* height: 100vh; */
}

.main-div {
  width: 600px;
  border: 1px var(--white) solid;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header-div {
  margin: auto;
}