@import "tailwindcss-colors.css";

:root {
  --black: var(--stone-900);
  --white: var(--stone-200);
  /* --red: red; */
  --green: var(--green-800);
  /* --blue: blue; */
  /* --yellow: yellow; */
  /* --orange: orange; */
}

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--black);
  color: var(--stone-200);
  min-width: 375px;
  /* height: 100vh; */
  /* width: 100vw; */
}

.main-div {
  border: 5px var(--orange-500) solid;
  /* margin: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  height: 100vh;
  /* padding-bottom: 100px; */
  /* gap: 20px */
}

/* HEADER STUFF */
.header-div {
  margin: auto;
  text-align: center;
  opacity: 1;
  margin-block: 30px;
}
.header-div > h1 {
  font-size: 2rem;
  font-weight: 900;
}
.header-div > p {
  font-size: 0.8rem;
  color: var(--stone-300);
}

/* STATUS STUFF */
.status-div {
  background-color: var(--green);
  /* width: 50%; */
  height: 75px;
  /* border-radius: 10px; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-block: 15px;
}

.status-div > p {
  font-size: 0.9rem;
}

.visibility-hidden {
  visibility: hidden;
}

/* PEOPLE */
.people-div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin: auto;
  margin-block: 15px;
}
.person-tile {
  font-size: 2.25rem;
  border: 2px var(--red-800) solid;
  background-color: var(--red-200);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

/* LETTERS */
.letters-div {
  display: flex;
  margin: auto;
  margin-block: 15px;
  gap: 3px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.letter-tile {
  font-size: 1.75rem;
  background-color: var(--stone-800);
  width: 2.5rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--stone-300);
}

/* KEYBOARD */
.keyboard-div {
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  width: 350px;
  justify-content: center;
}
.keyboard-tile {
  font-size: 1.125rem;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--amber-500);
  color: var(--stone-900);
}
.keyboard-div > button {
  box-shadow: none;
  border: none;
}
.keyboard-div > button:active {
  background-color: var(--stone-800);
  border: 1px var(--stone-200) solid;
  color: var(--stone-200);
}

.letter-correct {
  background-color: var(--green-800);
  color: var(--stone-200);
}
.letter-incorrect {
  background-color: var(--red-800);
  color: var(--stone-200);
}

/* NEW GAME BUTTON */
.new-game-div {
  display: flex;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
}
.new-game-button {
  background-color: var(--sky-600);
  color: var(--stone-900);
  border: none;
  width: auto;
  padding: 10px 75px;
  font-size: 1.25rem;
  border-radius: 5px;
  border: var(--sky-400) 1px solid;
}

/* ALL BUTTONS */
button:hover {
  border: 1px var(--stone-200) solid;
  color: var(--stone-200);
}
button {
  cursor: pointer;
}